<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <link href="favicon.png" rel="shortcut icon" type="image/png">
    <title>Nicolas Devynck</title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= partial 'header' %>
    <%= yield %>
    <%= partial 'footer' %>
    <%= javascript_include_tag  "application" %>
     <script>
        var _gaq=[['_setAccount','UA-46026453-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
